<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
			<center>如果需要帮助</center>
			<h2>
				请轰炸老公 on 尾号<u>8605</u>，竭诚为老婆服务
			</h2>
    </p>
  </body>
</html>
