<%provide(:title, 'Home')%>
<div class="center hero-unit">
  <h1>Welcome to Mua</h1>

  <h2>
   This is a gift from Buer to Yibao 
  </h2>

  <%= link_to "Login", '#', class: "btn btn-large btn-primary" %>
</div>

