<% provide(:title, 'Rule') %>

<h1>
	使用条款
</h1>

<div class ="row">
	<center><p>1.送给我最美丽，最萌，最温柔体贴的老婆呆呆~	</p></center>	
	<center><p>2.有任何使用不快和建议请及时告诉老公~</p></center>	
	<center><p>3.初次使用请跟老公申请帐号,需要用亲亲换取哦~ </p></center>	
	<center><p>4.闲人免进~</p></center>	
</div>
