<footer class="footer">
  <small>
<p>Powered by <b>Buertec</b><%= link_to image_tag("logo.png", alt: "Logo"), 'http://yibao.buertec.net' %><p>
  </small>
  <nav>
    <ul>
      <li><a href="http://yibao.buertec.net">News</a></li>
    </ul>
  </nav>
</footer>
